[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
	branch = 3.0
[submodule "addons/godot-engine.github-integration"]
	path = addons/godot-engine.github-integration
	url = https://github.com/Doomsdayrs/godot-engine.github-integration.git
[submodule "addons/github_intergration"]
	path = addons/github_intergration
	url = https://github.com/Doomsdayrs/godot-engine.github-integration.git
[submodule "addons/github-integration"]
	path = addons/github-integration
	url = https://github.com/Doomsdayrs/godot-engine.github-integration.git
